*{
    box-sizing: border-box;
}

 @media screen and (max-width: 700px) {
     body{
         background-color: brown;
     }
     h1{
         color: white;
     }
     h2{
         display: none;
     }
 }
 @media screen and (max-width:600px) {
     body{
         background-color: rgb(5, 18, 19);
     }
     h2{
         display: contents;
     }
 }
 @media screen and (min-width:900px) {
    body{
        background-color: cadetblue;
    }
    h2{
        display: contents;
    }
}