
* {
    box-sizing: border-box;
}
.menu{
    background-color: cadetblue;
    display: flex;
    justify-content: flex-end;
}
.menu a{
    padding: 20px;
    color: white;
    text-decoration: none;
}
.menu a:hover{
    background-color: gray;
}

